* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Sora;
    background: #201E1B;
    overflow-x: hidden;
}

/* ----- FONTS ----- */
@font-face {
    font-family: Kanit;
    src: url('../fontes/Kanit-Regular.ttf');
}

@font-face {
    font-family: Sora;
    src: url('../fontes/Sora-Regular.ttf');
}

/* ----- HEADER ----- */
header {
    width: 100%;
}

#header_logo {
    width: 60vw;
}

#title_container {
    position: absolute;
    top: 15vw;
    z-index: 1;
    left: 8vw;
}

header h2 {
    font-family: Kanit;
    color: #A6A6A6;
    font-weight: lighter;
    font-size: 1.3em;
}

.title_style_um {
    font-family: Sora;
    color: #645A48;
    font-weight: 600;
    font-size: 1.5em;
}

.title_style_dois {
    font-family: Kanit;
    color: #A4936C;
    font-weight: 400;
    font-size: 1.1em
}

/* DIVIDER */
#divider {
    text-align: center;
}

#divider img {
    margin: 10px;
    width: 40px;
}

/* Navbar */
nav {
    text-align: center;
}

nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    height: 8vh;
    background-color: #645A48;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    margin: 0 1em;
}

nav ul li a {
    font-family: Sora;
    font-weight: 300;
    color: #A6A6A6;
    text-decoration: none;
}


/* Responsividade */
/* TELAS MÉDIAS (TABLET)*/
@media screen and (min-width: 481px) and (max-width: 768px) {

    /* HEADER */
    #header_logo {
        width: 50%;
    }

    #title_container {
        left: 8%;
    }

    header h2 {
        font-size: 1.5em;
    }

    .title_style_um {
        font-size: 1.8em;
    }

    .title_style_dois {
        font-size: 1.8em
    }

    #divider img {
        width: 50px;
    }

    /* Nav */
    nav>ul {
        height: 7vh;
    }

    nav ul li {
        margin: 0 2.5em;
    }
}

/* TELAS GRANDES (LAPTOP) */
@media only screen and (min-width: 769px) and (max-width:1024px) {

    /* HEADER  */
    #header_logo {
        width: 50%;
    }

    #title_container {
        left: 10%;
    }

    header h2 {
        font-size: 2.3em;
    }

    .title_style_um {
        font-size: 3em;
    }

    .title_style_dois {
        font-size: 2.7em
    }

    #divider img {
        width: 50px;
    }

    /* Nav */
    nav ul li {
        margin: 0 5em;
    }
}

/* TELAS  EXTRA GRANDES */
@media only screen and (min-width: 1025px) {

    /* HEADER */
    #header_logo {
        width: 75vh;
    }

    #title_container {
        top: 100px;
        left: 5%;
    }

    header h2 {
        font-size: 3em;
    }

    .title_style_um {
        font-size: 5em;
    }

    .title_style_dois {
        font-size: 3em
    }

    #divider img {
        width: 60px;
    }

    /* Nav */
    nav ul li {
        margin: 0 7em;
    }

}