* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Sora;
    background: #201E1B;
    overflow-x: hidden;
}

/* ----- FONTS ----- */
@font-face {
    font-family: Kanit;
    src: url('../fontes/Kanit-Regular.ttf');
}

@font-face {
    font-family: Sora;
    src: url('../fontes/Sora-Regular.ttf');
}

/* ----- HEADER ----- */
header {
    width: 100%;
}

#header_logo {
    width: 60vw;
}

#title_container {
    position: absolute;
    top: 15vw;
    z-index: 1;
    left: 8vw;
}

header h2 {
    font-family: Kanit;
    color: #A6A6A6;
    font-weight: lighter;
    font-size: 1.3em;
}

.title_style_um {
    font-family: Sora;
    color: #645A48;
    font-weight: 600;
    font-size: 1.5em;
}

.title_style_dois {
    font-family: Kanit;
    color: #A4936C;
    font-weight: 400;
    font-size: 1.1em
}

/* DIVIDER */
#divider {
    text-align: center;
}

#divider img {
    margin: 10px;
    width: 40px;
}

/* Navbar */
nav {
    text-align: center;
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+main {
    padding-top: 60px;
}

nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    height: 8vh;
    background-color: #645A48;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    margin: 0 1em;
    transition: 0.5s;
}

nav ul li a {
    font-family: Sora;
    font-weight: 300;
    color: #A6A6A6;
    text-decoration: none;
}
nav ul li:hover{
    transform: scale(1.2);
}
nav ul li a:hover{
    color: #818181;

}


/* -----  MAIN ----- */
main {
    font-family: Sora;
    padding: 30px;
    padding-bottom: 0px;
}

#sobre_nos_container {
    width: 100%;
    padding-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

h3 {
    font-size: 3em;
    font-weight: 400;
    color: #645A48;
}

#sobre_nos_container div p {
    font-size: 1em;
    color: #A6A6A6;
    text-align: justify;
}

hr {
    margin-top: 80px;
    height: 3px;
    background-color: #353535;
    border: none;
}

#equipe_container {
    width: 100%;
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#equipe_container>h3 {
    font-size: 3em;
    font-weight: 400;
    color: #645A48;

}

#equipe_cards_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 50px;
    flex: 1 1 auto;


    margin-top: 50px;
}

.equipe_card {
    width: 180px;
    height: 257px;
    background-color: #645A48;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    transition: 0.5s;
}

.equipe_card:hover {
    transform: scale(1.2);
}

.card_image {
    width: 65%;
    border-radius: 50%;
}

.card_name {
    height: 15%;
    margin: 0px;
    font-size: 0.8em;
    color: #000000;
}

.card_description {
    height: 15%;
    font-size: 0.7em;
}

.card_link {
    height: 20px;
}

#projeto_container {
    padding-top: 50px;
    padding-bottom: -50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #A6A6A6;
    text-align: justify;
    font-size: 1em;
    color: #A6A6A6;

}

#projeto_title_images {
    display: inline-flex;
    justify-content: center;
    margin-top: 85px;
}

#logo_ecoSwitch_nome {
    width: 15vw;
}

#logo_ecoSwitch_folha {
    width: 20%;
}

#projeto_container p {
    margin-top: 50px;
}

#projeto_container ul li {
    margin-top: 20px;
}

/* FOOTER */

footer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer_logo_tw {
    width: 30%;
}

#footer_logo_github {
    width: 8%;
}

#footer_logo_ecoSwitch {
    width: 30%;
}

footer a :hover {
    transition: 0.5s;
    transform: scale(1.1);
}

/* Responsividade */
/* TELAS MÉDIAS (TABLET)*/
@media screen and (min-width: 481px) and (max-width: 768px) {

    /* HEADER */
    #header_logo {
        width: 50%;
    }

    #title_container {
        left: 8%;
    }

    header h2 {
        font-size: 1.5em;
    }

    .title_style_um {
        font-size: 1.8em;
    }

    .title_style_dois {
        font-size: 1.8em
    }

    #divider img {
        width: 50px;
    }

    /* Nav */
    nav>ul {
        height: 7vh;
    }

    nav ul li {
        margin: 0 2.5em;
    }

    /* MAIN */
    main {
        padding: 70px;
        padding-top: 50px;
        padding-bottom: 0px;
    }

    #equipe_cards_container {
        grid-template-columns: repeat(6, 1fr);
        gap: 30px;
    }

    .equipe_card {
        width: 120px;
        height: 171px;
        grid-column: span 2;

        &:last-child:nth-child(3n - 1) {
            grid-column-end: 6;
        }

        &:nth-last-child(2):nth-child(3n + 1) {
            grid-column-end: 4;
        }

        /* Dealing with single orphan */
        &:last-child:nth-child(3n - 2) {
            grid-column-end: 5;
        }
    }


}

/* TELAS GRANDES (LAPTOP) */
@media only screen and (min-width: 769px) and (max-width:1024px) {

    /* HEADER  */
    #header_logo {
        width: 50%;
    }

    #title_container {
        left: 10%;
    }

    header h2 {
        font-size: 2.3em;
    }

    .title_style_um {
        font-size: 3em;
    }

    .title_style_dois {
        font-size: 2.7em
    }

    #divider img {
        width: 50px;
    }

    /* Nav */
    nav ul li {
        margin: 0 5em;
    }

    /* MAIN */
    main {
        padding: 110px;
        padding-top: 50px;
        padding-bottom: 0px;
    }

    #sobre_nos_container h3 {
        font-size: 3.5em;
    }

    #sobre_nos_container div p {
        font-size: 1em;
    }

    #equipe_cards_container {
        grid-template-columns: repeat(5, 1fr);
        gap: 35px;
    }

    .equipe_card {
        width: 120px;
        height: 171px;
    }

    #projeto_container div {
        padding-inline: 200px;
    }

    /* FOOTER */
    #footer_logo_tw {
        width: 20%;
    }

    #footer_logo_github {
        width: 5%;
    }

    #footer_logo_ecoSwitch {
        width: 20%;
    }
}

/* TELAS  EXTRA GRANDES */
@media only screen and (min-width: 1025px) {

    /* HEADER */
    #header_logo {
        width: 70vh;
    }

    #title_container {
        top: 20vh;
        left: 6vw;
    }

    header h2 {
        font-size: 3em;
    }

    .title_style_um {
        font-size: 5em;
    }

    .title_style_dois {
        font-size: 3em
    }

    #divider img {
        width: 60px;
    }

    /* Nav */
    nav ul li {
        margin: 0 7em;
    }

    /* MAIN */
    main {
        padding: 150px;
        padding-top: 50px;
        padding-bottom: 0px;

    }


    #sobre_nos_container h3 {
        font-size: 3.7em;
    }

    #sobre_nos_container div {
        padding-inline: 200px;
        word-wrap: break-word;
    }

    #sobre_nos_container div p {
        font-size: 1.1em;
    }

    #equipe_cards_container {
        grid-template-columns: repeat(5, 1fr);
        gap: 50px;
    }

    .equipe_card {
        width: 150px;
        height: 214px;
    }

    #projeto_container div {
        padding-inline: 200px;
    }

    /* FOOTER */
    #footer_logo_tw {
        width: 15%;
    }

    #footer_logo_github {
        width: 3%;
    }

    #footer_logo_ecoSwitch {
        width: 15%;
    }

}